body{
    padding: 10px;
}

.container-box{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: 50px 100px 150px;
    grid-template-areas: 
    'a b c d'
    'a e f f'
    'a e f f';
}

.box{
    background-color: #ff8c00;
    border-radius: 5px;
}

.a{
    grid-area: a;
    text-align: center;
}

.b{
    grid-area: b;
    text-align: center;
}

.c{
    grid-area: c;
    text-align: center;
}

.d{
    grid-area: d;
    text-align: center;
}

.e{
    grid-area: e;
    text-align: center;
}

.f{
    grid-area: f;
    text-align: center;
}